# Post-Week Analysis

This notebook connects to the Neon database and provides a simple `query()` function to execute SQL queries. Results are returned as pandas DataFrames.

In [11]:
import os
from dotenv import load_dotenv
import psycopg2
import pandas as pd

# Load environment variables
load_dotenv()

# Get database connection string
DATABASE_URL = os.getenv('NEON_DATABASE_URL')

# Create connection
conn = psycopg2.connect(DATABASE_URL)

def query(sql):
    """Execute SQL query and return results as pandas DataFrame"""
    return pd.read_sql_query(sql, conn)

In [13]:
query("""
    SELECT b.*, u.first_name, u.last_name
    FROM bets b
    JOIN users u ON b.user_id = u.id
    WHERE description ilike '%Bilal879%' 
    AND b.week = 11 
    ORDER BY b.result DESC;
""")

C:\Users\Samer Faizi\AppData\Local\Temp\ipykernel_14376\1369898410.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(sql, conn)

,id,user_id,bet_type,description,amount,odds,potential_win,status,result,week,created_at,settled_at,first_name,last_name
0,86,49726524,team_ou,Bilal879 O/U 108.1: Over,50.0,EVEN,50.000000,won,50.00,11,2025-11-14 00:03:31.474792+00:00,2025-11-18 14:07:52.153010+00:00,Tabarak,Mir
1,105,49540655,moneyline,Bilal879 vs monkeyman966699696: Bilal879 +135,5.0,+135,6.750000,won,6.75,11,2025-11-14 00:11:36.999885+00:00,2025-11-18 14:08:34.013096+00:00,Dany,None
2,107,49540655,team_ou,Bilal879 O/U 108.1: Over,5.0,EVEN,5.000000,won,5.00,11,2025-11-14 00:11:55.964479+00:00,2025-11-18 14:08:37.797148+00:00,Dany,None
3,84,49726524,moneyline,Bilal879 vs monkeyman966699696: monkeyman96669...,100.0,-135,74.074074,lost,-100.00,11,2025-11-14 00:03:03.405842+00:00,2025-11-18 14:07:46.293356+00:00,Tabarak,Mir
4,54,49713778,moneyline,Bilal879 vs monkeyman966699696: monkeyman96669...,100.0,-135,74.074074,lost,-100.00,11,2025-11-13 15:43:12.499655+00:00,2025-11-18 14:06:42.205172+00:00,Arman,Mir
5,127,49081758,moneyline,Bilal879 vs monkeyman966699696: monkeyman96669...,100.0,-135,74.074074,lost,-100.00,11,2025-11-14 01:22:26.139600+00:00,2025-11-18 14:09:01.119918+00:00,Samer,Faizi
6,126,49726812,moneyline,Bilal879 vs monkeyman966699696: monkeyman96669...,200.0,-135,148.148148,lost,-200.00,11,2025-11-14 00:20:06.417517+00:00,2025-11-18 14:09:03.386701+00:00,Sahir,None